*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

.container{
    width: 100%;
    min-height: 100vh;
    background: black;
    padding: 10px;
}

.to-do-app{
    width: 100%;
    max-width: 540px;
    background: white;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
}

.to-do-app h2{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}



.row{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background: #edeef0;
    border-radius: 0px;
    margin-bottom: 25px;
}

.row input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 5px;
    font-weight: 10px;
}

.row button{
    border: none;
    outline: none;
    padding: 10px 25px;
    background: #ff5945;
    color: #fff;
    font-size: 14px;
    border-radius: 0px;
    cursor: pointer;
}

.list-container ul, li{
    list-style: none;
    font-size: 17px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer;
    position: relative;
}

.list-container ul, li::before {
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(To-Do-Img/images/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}

.list-container ul, li.checked{
    color: #555;
    text-decoration: line-through;
}

.list-container ul, li.checked::before{
    background-image: url(To-Do-Img/images/checked.png);
}

.list-container ul, li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 22px;
    color: #555;
    line-height: 40px;
    text-align: center;
}